<%- include('header.html') -%>

<main class="home--container">
    <h1 class="home--title">LITEPEDIA</h1>
    <strong>The Free Encyclopedia</strong>
    <div>
        <img
            class="home--logo"
            src="https://upload.wikimedia.org/wikipedia/en/8/80/Wikipedia-logo-v2.svg"
            alt="Wikipedia"
        />
        <div class="loading-spinner"></div>
    </div>
    <section class="home--search-container">
        <input type="text" class="home--search-box" autofocus />
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    function showLoadingSpinner() {
        document.querySelector('.loading-spinner').style.display = 'grid';
    }

    function hideLoadingSpinner() {
        document.querySelector('.loading-spinner').style.display = 'none';
    }

    $(document).ready(function () {
        $('.home--search-box')
            .autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: 'https://en.wikipedia.org/w/api.php',
                        dataType: 'jsonp',
                        data: {
                            action: 'query',
                            format: 'json',
                            generator: 'prefixsearch',
                            prop: 'pageprops|pageimages|description',
                            redirects: '',
                            ppprop: 'displaytitle',
                            piprop: 'thumbnail',
                            pithumbsize: 120,
                            pilimit: 6,
                            gpssearch: request.term,
                            gpsnamespace: 0,
                            gpslimit: 6,
                        },
                        success: function (data) {
                            const pages = data.query.pages;
                            const suggestions = [];
                            for (const pageId in pages) {
                                const page = pages[pageId];
                                suggestions.push({
                                    label: page.title,
                                    value: page.title,
                                    description: page.description || '',
                                });
                            }
                            response(suggestions);
                        },
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    const searchTerm = ui.item.value;
                    const formattedSearchTerm = searchTerm.replaceAll(' ', '_');
                    const litepediaUrl = '<%= baseUrl %>' + encodeURIComponent(formattedSearchTerm);

                    showLoadingSpinner();

                    console.log('Searching...');

                    fetch(litepediaUrl)
                        .then(function (response) {
                            window.open(litepediaUrl, '_self');
                        })
                        .catch(function (error) {
                            console.error('An error occurred: ', error);
                        })
                        .finally(function () {
                            hideLoadingSpinner();
                        });
                },
                open: function () {
                    $(this).removeClass('ui-corner-all').addClass('ui-corner-top');
                },
                close: function () {
                    $(this).removeClass('ui-corner-top').addClass('ui-corner-all');
                },
            })
            .data('ui-autocomplete')._renderItem = function (ul, item) {
            return $('<li>')
                .append('<div><strong>' + item.label + '</strong><br>' + item.description + '</div>')
                .appendTo(ul);
        };
    });
</script>

<%- include('footer.html') -%>
